<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <form action="read/" method="post" >
        <h1>Add user</h1>
        <a href="read.html"><link rel="stylesheet" href="read.html">Home</a>
        <div class="form-group col-lg-6 col-md-4 col-sm-4">
<!-- First name -->
            <label for="form-group">First Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput"placeholder="First Name" name="first_name">
<!-- Last name -->
            <label for="form-group">Last Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput"placeholder="Last Name" name="Last_name">
<!-- Email -->
            <label for="form-group">Email</label>
            <input type="text" class="form-control" id="formGroupExampleInput"placeholder="Email" name="email">
        </div>
        <a href="" class="btn btn-primary">Create</a>
</body>
</html>