<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1 class="text-center">User {{user.first_name}}</h1>
        <div class="form-group mx-auto">
            <p>Full Name: {{user.full_name()}}</p>
            <p>Email: {{user.email}}</p>
            <p>Created At: {{user.created_at}}</p>
            <p>Updated At: {{user.updated_at}}</p>
            <p></p>
        </div>
</body>
</html>