.container{
    height: 100%;
    width: 100%;
}

.upper_colum{
    background-color: black;
    width: 100%;
    height: 150px;
}
.upper_colum>h1{
    color: white;
}
.upper_colum>p{
    color: rgb(123,123,123);
}
#M_profile{
    color: white;
}
.upper_colum>button{
    background-color: rgb(21,163,184);
    color: white;
}



.profile{
    background-color: red;
    height: 20%;
    width: 40%;
    display: flex;
}