<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>counter</title>
</head>
<body>
    <div class="col-3 flex justfy_around mx-auto">
        <h1>Counter</h1>
        <p >{{session['count']}} time(s)</p>
        <a href="/increment" class="btn btn-primary">click</a>
        <a href="/reset" class="class btn btn-danger">reset</a>
    </div>
</body>
</html>