/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    background-color: #2b78e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;

}

.nav-right img{
    width: 50px;
}

.nav-right input{
    border-radius: 15px;
}

.nav-right a{
    color: white;
    border-right: 2px solid black;
    padding-right: 15px;
}

.card-total{
    color: white;
    position: relative;
    right: 50px;
}