/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  Top Nav */
.top-nav{
    height: auto;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    background-color: rgb(204,204,204);
    margin-bottom: 40px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
.top-nav input{
    height: 30px;
    width: 400px;
    border: 2px solid black;
    padding: 5px;
}
.top-nav button{
    background-color: rgb(43,120,228);
    color: white;
    height: 30px;
    width: 100px;
    box-shadow: 5px 5px 5px black;
}

/* Main Page */
.container{
    display: flex;
    height: auto;
    width: 1000px;
    margin: 0 auto;
}

/* Main */
/* .main{
    display: flex;
    flex-direction: column;
} */

/* Nav left*/
.nav-left{
    height: auto;
    width: 650px;
    display: flex;
    border: 2px solid black;
    padding: 10px;
    margin: 0 40px 40px 0;
}
.nav-left button{
    background-color: rgb(255,217,102);
    height: 30px;
    width: 100px;
    box-shadow: 5px 5px 5px black;
}

/* Nav left 1 */
.nav-left-1{
    height: auto;
    width: 650px;
    display: flex;
    border: 2px solid black;
    padding: 10px;
}
.nav-left-1 button{
        background-color: rgb(255,217,102);
        height: 30px;
        width: 100px;
        box-shadow: 5px 5px 5px black;
}

/* Nav Right */
.nav-right{
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
    border: 2px solid black;
}
.nav-right button{
        background-color: rgb(147,196,125);
        height: 30px;
        box-shadow: 5px 5px 5px black;
        margin-top: 10px;
}