<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="color: red;">{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>Register</h1>
    <form action="/register" method="POST">
        <label for="username" >Username (Min of 3 characters and cannot start with number):</label>
        <input type="text" name="username">
        <label for="password" >Password (Min of 8 characters):</label>
        <input type="text" name="password">
        <label for="confirm" >Confirm Password:</label>
        <input type="text" name="confirm">
        <input type="submit" value="Register">
    </form> 
    <hr>
    <h1>Log in</h1>
    <form action="/login" method="POST">
        <label for="username" >Username:</label>
        <input type="text" name="username">
        <label for="password" >Password:</label>
        <input type="text" name="password">
        <input type="submit" value="Log In">
    </form> 
</body>
</html>
