<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>{{item.name}}</h3>
    <h4>Description:</h4>
    <p>{{item.description}}</p>
    <h4>Added by:</h4>
    <p>{{item.user.username}}</p>
    <h4>Added on:</h4>
    <p>{{item.created_at}}</p>
    <p><a href="/items/{{item.id}}/update">Edit</a></p>
    <p><a href="/items/{{item.id}}/delete">Delete</a></p>
    <hr>
    <p><a href="/dashboard">Back to dashboard</a></p>
</body>
</html>